/*HEADER SECTION*/
.Form__name_container{
    max-width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}
.Form__dot{
    height: 161px;
    width: 161px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-top: 63px;
    margin-left:84px;
    margin-right:51px;
    margin-bottom:28px;
}
.Form__mainheading{
   text-align: center;
   margin-top: 63px;
   margin-bottom: 31px;
}
.Form__heading{
    font-size: 50px;
    margin-bottom:5px;
    font-weight: 300;
    line-height: 60px;
    color:#000000;
}
.Form__subheading{
    font-size: 30px;
    font-weight: 300;
    line-height: 36px;
    font-style:normal;
    margin-bottom: 26px;
    color:#000000;
}
.Form__address{
    font-size: 25px;
    font-weight: 600;
    font-style:normal;
    line-height: 30px;
    color:#000000;
}
/*HEADER SECTION ENDS HERE!*/


/*BODY SECTION*/
.form-control{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color:#390969;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #CADEEF;
    border-radius: .50rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    box-sizing: border-box;
}
span{
    padding: .375rem 1rem;
    pointer-events: none;
    position: absolute;
    top:0;
    left:0;
    line-height: 1.5;
    font-size: 14px;
    color:#390969;
    transition: 0.2s;
    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(0.25,0.1,0.25,1);
    opacity:0.8;
}
input:focus + span, input:not(:placeholder-shown)+ span{
    opacity:1;
    transform: scale(0.75) translateY(-80%) translateX(-18px);
    background-color: white;
    color: #495057;
    padding: .175rem 0.5rem;
}
textarea:focus + span, textarea:not(:placeholder-shown) + span {
    opacity:1;
    transform: scale(0.8) translateY(-80%) translateX(-1px);
    background-color: white;
    color: #495057;
    padding: .175rem 0.5rem;
  }
.Form__dmrow{
    /* margin-left:-60px; */
    font-size: 25px;
    font-weight: 600;
    color:#390969;
    margin-bottom:35px;
    margin-left: 84px !important;
}
.Form__dm{
    margin-top: 2rem;
     margin-left:84px; 
    margin-bottom: 51px;
}
.Form__form-submit{
    margin-top: 90px;
    padding-left: 36rem;
    margin-bottom: 5rem;

}
.Form__view-button{
   margin-right:10px;
    margin-left: 84px;
    border-radius: 21px;
    width:101px;
    height:31px;
    padding-top: 1px;
}
.Form__success-button{
    border-radius:21px;
    width:116px;
    height:31px;
    padding-top: 1px;
}
.Form__pincode{
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;
}
/*BODY SECTION ENDS HERE*/

/*For small devices*/
@media screen and (max-width: 576px){
    /*Header section starts here*/
    .Form__dot{
        height: 161px;
        width: 161px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        margin-top: 63px;
        margin-left: 25%;
    }
    .Form__mainheading{
       text-align: center;
       margin-top: 15rem;
       margin-bottom: 31px;
    }
    .Form__heading{
        font-size: 28px;
        display: block;
        margin-bottom:15px;
        font-weight: 400;
        line-height: 30px;
        color:#000000;
    }
    .Form__subheading{
        font-size: 25px;
        font-weight: 300;
        line-height: 30px;
        font-style:normal;
        margin-bottom: 15px;
        color:#000000;
    }
    .Form__address{
        font-size: 25px;
        font-weight: 600;
        font-style:normal;
        line-height: 30px;
        color:#000000;
    }
    .Form__name_container{
        max-width: 100%;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    /*Header section ends here*/

    /*Body sections starts here*/
    .Form__dmrow{
        font-size:20px;
        font-weight: 600;
        color:#390969;
        margin-left: 5px;
        margin-bottom: 5px !important;
    }
    .Form__dm{
        width:345px;
        margin-left:0px; 
        margin-bottom: 25px;
        margin-right:10px;
    }
    .form-control{
        display: block;
        width: 100%;
        padding: 11px 0px 11px 10px;
        font-size: 1rem;
        line-height: 1.5;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        margin-bottom: 15px;
        color: #390969;
    }
    select.form-control:not([size]):not([multiple]){
        height: calc(2.25rem + 7px);
        padding: 7px 0px 8px 6px;
        font-size: 14px;
        color: #390969;
    }
    span{
        padding: .375rem 1rem;
        pointer-events: none;
        font-size: 14px;
        padding-left:12px;
        padding-top:11px;
        padding-bottom:10px;
        padding-right:145px;
        position: absolute;
        line-height:1.5;
        color: #390969;
        left:0;
        top:0;
        transition: 0.2s;
        transition-timing-function: ease;
        transition-timing-function:cubic-bezier(0.25,0.1,0.25,1);
        opacity:0.8;
    }
    input:focus + span, input:not(:placeholder-shown) + span {
        opacity:1;
        transform: scale(0.75) translateY(-60%) translateX(-18px);
        background-color: white;
        color: #390969;
        padding: .175rem 0.5rem;
      }
      
      textarea:focus + span, textarea:not(:placeholder-shown) + span {
        opacity:1;
        transform: scale(0.8) translateY(-80%) translateX(-1px);
        background-color: white;
        color: #390969;
        padding: .175rem 0.5rem;
      }
      .Form__form-submit{
          margin-top:50px;
          padding-left: 1rem;
          margin-bottom: 2rem;
      }
      .Form__view-button{
        margin-right:30px;
         margin-left: 34px;
         border-radius: 21px;
         width:101px;
         height:31px;
         padding-top: 1px;
     }
     .Form__success-button{
         border-radius:21px;
         width:116px;
         height:31px;
         padding-top: 1px;
     }
     .Form__pincode{
         font-size: 14px;
         line-height: 17px;
         font-weight: 300;
         color: #390969;
     }
     /*Body section ends here*/
    
}

/*For small and medium devices*/
@media(min-width:576px) and (max-width: 800px){
    /*Header section starts here*/
    .Form__name_container{
        max-width: 100%;
        padding-left:0rem;
        padding-right:2rem; 
    }
    .Form__dot{
        height: 151px;
        width: 151px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        margin-top: 63px;
        margin-left: 30%;
    }
    .Form__mainheading{
        text-align: center;
        margin-bottom: 41px;
        margin-left: 9rem;
     }
    .Form__heading{
        font-size: 35px;
        margin-bottom:10px;
        font-weight: 300;
        line-height: 40px;
    }
    .Form__subheading{
        font-size: 30px;
        font-weight: 400;
        margin-bottom:10px;
    }
    .Form__address{
        font-size:28px;
        font-weight: 600;
    }
    /*Header section ends here*/

    /*Body section starts */
    .Form__dmrow{
        font-size:22px;
        font-weight: 600;
        color:#390969;
        margin-left: 2rem;
        margin-bottom: 5px !important;
    }
    .Form__dm{
        width:720px;
        margin-left:2rem; 
        margin-bottom: 25px;
        margin-right:10px;
    }
    .form-control{
        display: block;
        width: 100%;
        padding: 15px 0px 15px 5px;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        margin-bottom: 15px;
    }
    select.form-control:not([size]):not([multiple]){
        height: calc(2.25rem + 7px);
        padding: 5px 0px 5px 1px;
        font-size: 12px;
        color: #390969;
    }
    span{
        padding: .375rem 1rem;
        pointer-events: none;
        position: absolute;
        font-size: 16px;
        padding-left:12px;
        padding-top:18px;
        padding-bottom:10px;
        padding-right:0px;
        line-height:1;
        color: #390969;
        left:0;
        top:0;
        transition: 0.2s;
        transition-timing-function: ease;
        transition-timing-function:cubic-bezier(0.25,0.1,0.25,1);
        opacity:0.8;
    }
    input:focus + span, input:not(:placeholder-shown) + span {
        opacity:1;
        transform: scale(0.75) translateY(-60%) translateX(-18px);
        background-color: white;
        color: #495057;
        padding: .175rem 0.5rem;
      }
      
      textarea:focus + span, textarea:not(:placeholder-shown) + span {
        opacity:1;
        transform: scale(0.8) translateY(-80%) translateX(-1px);
        background-color: white;
        color: #495057;
        padding: .175rem 0.5rem;
      }
      .Form__form-submit{
          margin-top:50px;
          padding-left: 1rem;
          margin-bottom: 2rem;
      }
      .Form__view-button{
        margin-right:30px;
        margin-left:15rem;
         border-radius: 21px;
         width:101px;
         height:31px;
         padding-top: 1px;
     }
     .Form__success-button{
         border-radius:21px;
         width:116px;
         height:31px;
         padding-top: 1px;
     }
      .Form__pincode{
        font-size: 14px;
        line-height: 10px;
        font-weight: 300;
        color: #390969;
    }
    /*Body section ends here*/
   
}

/*For medium and large devices*/
@media(min-width:800px) and (max-width: 1200px){
    /*Header section*/
    .Form__name_container{
        max-width: 100%;
        padding-left:0rem;
        padding-right:2rem; 
    }
    .Form__dot{
        height: 161px;
        width: 161px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        margin-top: 63px;
        margin-left: 30%;
    }
    .Form__mainheading{
        text-align: center;
        margin-bottom: 71px;
        margin-left: 12rem;
     }
    .Form__heading{
        font-size: 40px;
        margin-bottom:15px;
        font-weight: 300;
        line-height: 40px;
    }
    .Form__subheading{
        font-size: 35px;
        font-weight: 400;
        margin-bottom:15px;
    }
    .Form__address{
        font-size:30px;
        font-weight: 600;
    }
    /*Header section ends here*/

    /*Body section*/
    .Form__dmrow{
        font-size:30px;
        font-weight: 600;
        color:#390969;
        margin-left: 3.5rem;
        margin-bottom: 5px !important;
    }
    .Form__dm{
        width:950px;
        margin-left:4rem; 
        margin-bottom: 25px;
        margin-right:10px;
    }
    .form-control{
        display: block;
        width: 100%;
        padding: 10px 0px 10px 5px;
        font-size: 1rem;
        line-height: 1.8;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        margin-bottom: 15px;
    }
    select.form-control:not([size]):not([multiple]){
        height: calc(2.25rem + 7px);
        padding: 3px 0px 5px 1px;
        font-size: 14px;
        color: #390969;
    }
    span{
        padding: .375rem 1rem;
        pointer-events: none;
        position: absolute;
        font-size: 18px;
        padding-left:12px;
        padding-top:18px;
        padding-bottom:10px;
        padding-right:0px;
        line-height:1;
        color: #390969;
        left:0;
        top:0;
        transition: 0.2s;
        transition-timing-function: ease;
        transition-timing-function:cubic-bezier(0.25,0.1,0.25,1);
        opacity:0.8;
    }
    input:focus + span, input:not(:placeholder-shown) + span {
        opacity:1;
        transform: scale(0.75) translateY(-60%) translateX(-18px);
        background-color: white;
        color: #495057;
        padding: .175rem 0.5rem;
      }
      
      textarea:focus + span, textarea:not(:placeholder-shown) + span {
        opacity:1;
        transform: scale(0.8) translateY(-80%) translateX(-1px);
        background-color: white;
        color: #495057;
        padding: .175rem 0.5rem;
      }
      .Form__form-submit{
          margin-top:50px;
          padding-left: 1rem;
          margin-bottom: 2rem;
      }
      .Form__view-button{
        margin-right:30px;
        margin-left:25rem;
         border-radius: 21px;
         width:101px;
         height:31px;
         padding-top: 1px;
     }
     .Form__success-button{
         border-radius:21px;
         width:116px;
         height:31px;
         padding-top: 1px;
     }
      .Form__pincode{
        font-size: 14px;
        line-height: 10px;
        font-weight: 300;
        color: #390969;
    }
    /*Body section ends here*/
}